div.photoset {
  padding: 2px;
  background-color: #ffffff;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.photoset .photo {
  position: relative;
  flex-grow: 1;
  min-width: calc(100% / 3);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 700px) {
  div.photoset .photo {
    min-width: calc(100% / 2);
  }
}
@media screen and (max-width: 460px) {
  div.photoset .photo {
    min-width: 100%;
  }
}
div.photoset .photo:after {
  padding-top: 83.33333%;
  display: block;
  content: "";
}
div.photoset .photo:before {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  box-shadow: inset 0 0 0 2px #ffffff;
}
div.photoset .photo:nth-child(1) {
  width: 100%;
}
div.photoset.square .photo:after {
  padding-top: 100%;
}
div.photoset.portrait .photo:after {
  padding-top: 120%;
}

body {
  background-color: #ece9e2;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}